layout {

    focus-ring {
        active-color   "#a277ff"
        inactive-color "#15141b"
        urgent-color   "#ff6767"
    }

    border {
        active-color   "#a277ff"
        inactive-color "#15141b"
        urgent-color   "#ff6767"
    }


    tab-indicator {
        active-color   "#a277ff"
        inactive-color "#3e00c4"
        urgent-color   "#ff6767"
    }

    insert-hint {
        color "#a277ff80"
    }
}

recent-windows {
    highlight {
        active-color "#a277ff"
        urgent-color "#ff6767"
    }
}
